<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

    <!-- third party css -->
    <link href="/static/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="/static/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
    {% endblock %}
</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <div class="wrapper">
        <div class="leftside-menu">
            <!-- LOGO -->
            <a href="/" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="/static/assets/images/logo.png" alt="" height="16">
                </span>
                <span class="logo-sm">
                    <img src="/static/assets/images/logo_sm.png" alt="" height="16">
                </span>
            </a>
            <!-- LOGO -->
            <a href="/" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="/static/assets/images/logo-dark.png" alt="" height="16">
                </span>
                <span class="logo-sm">
                    <img src="/static/assets/images/logo_sm_dark.png" alt="" height="16">
                </span>
            </a>
            <div class="h-100" id="leftside-menu-container" data-simplebar>
                <ul class="side-nav">
                    <li class="side-nav-title side-nav-item">Управление</li>
                    <li class="side-nav-item">
                        <a href="/balance" class="side-nav-link">
                            <i class="uil-comments-alt"></i>
                            <span> Баланс </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="/detail" class="side-nav-link">
                            <i class="uil-comments-alt"></i>
                            <span> Детализация расходов </span>
                        </a>
                    </li>
                    {% if session['is_admin'] %}
                    <li class="side-nav-title side-nav-item">Админка</li>
                    <li class="side-nav-item">
                        <a href="/users" class="side-nav-link">
                            <i class="uil-clipboard-alt"></i>
                            <span> Пользователи </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="content-page">
            <div class="content">
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown"
                                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="/static/assets/images/users/avatar-1.jpg" alt="user-image"
                                        class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-user-name">{{ session['username'] }}</span>
                                </span>
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <!-- item-->
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome {{ session['username'] }}!</h6>
                                </div>

                                <!-- item-->
                                <a href="/under_construction" class="dropdown-item notify-item">
                                    <i class="mdi mdi-account-edit me-1"></i>
                                    <span>Настройки</span>
                                </a>

                                <!-- item-->
                                <a href="/under_construction" class="dropdown-item notify-item">
                                    <i class="mdi mdi-lifebuoy me-1"></i>
                                    <span>Помощь</span>
                                </a>

                                <!-- item-->
                                <a href="/logout" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Выйти</span>
                                </a>
                            </div>
                        </li>

                    </ul>
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </div>
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- bundle -->
    <script src="/static/assets/js/vendor.min.js"></script>
    <script src="/static/assets/js/app.min.js"></script>

    <!-- third party js -->
    <script src="/static/assets/js/vendor/apexcharts.min.js"></script>
    <script src="/static/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/static/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
    <!-- third party js ends -->
</body>

</html>